<%= provide :title, 'Contact Us' %>
<div class="row">
  <div class="box fluid" id="contact-us">
    <div class="col-md-6">
      <h1 style="text-align: center">
        Contact us
      </h1>
      <table class="table table-hover">

        <tr>
          <td>
            <span class="glyphicon glyphicon-home"></span>
          </td>
          <td>
            Tầng 8, tòa nhà Hanoi Creative City, 1 Lương Yên, Bạch Đằng, Hai Bà Trưng, Hà Nội 100000, Việt Nam
          </td>
        </tr>

        <tr>
          <td>
            <span class="glyphicon glyphicon-envelope"></span>
          </td>
          <td>
            +84 4 7308 0668
          </td>
        </tr>

      </table>
    </div>
    <div class="col-md-6">
      <div class="google-maps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.5020395970914!2d105.86102931514112!3d21.01258898600719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abf0be48433b%3A0xbdacc2cdc6079fe!2sUP+Coworking+Space!5e0!3m2!1svi!2s!4v1476378263921"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
