<div class="box">
    <h1 class="title">
      Mesut Oezil Restaurant
    </h1>
  <div class="box-content">
    <div class="feature">
      <button class="btn btn-lg"><%= link_to 'Home', home_path %></button>
      <button class="btn btn-lg"><%= link_to 'Contact Us', contact_us_path %></button>
    </div>
  </div>
</div>
