<div id="home">
  <div class="box fluid">
    <h1 class="title">
      Up Restaurant
    </h1>
  </div>
  <div class="feature">
    <%= link_to 'Menu', menu_path, class: "btn btn-lg btn-primary" %>
    <%= link_to 'Contact Us', contact_us_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
