@import "bootstrap";
@import 'bootstrap/glyphicons';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


html {
  height: 100%;
}

body {
  background: #7f8c8d;
  background-image: url('cover.jpg');
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1.2rem;
  color: #333;
}

a.pure {
  text-decoration: none;
  color: inherit;
}

.table th {
  text-align: center;
}

// Layout
//
.box {
  width: 80%;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.8);
}

.fluid {
  width: 100%;
}

.title {
  font-size: 4.5em;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}

// Google map embed
//
.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


// Pages
//
// Contact Us
#contact-us {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 20px;
  display: flex;
  align-items: center;
  height: 50%;
}
// Home
#home {
  position: absolute;
  top: 30%;
  width: 100%;
}

.feature {
  text-align: center;
  position: relative;
}

.feature a.btn {
  margin-left: 10px;
  margin-right: 10px;
}
// Menu
#menu {

}

.display-items {
  position: absolute;
  top: 25%;
  width: 100%;
}

.side-menu {

}

.items {
  max-width: 95%;
}

// Checkout
#checkout {

}

.checkout-items {
  margin: 30px auto;
}

.checkout-detail h3 {
  color: #fff;
}

.checkout-total {
  margin-top: 20px;
  text-align: center;
}

.checkout-info {
  margin: 0px auto;
}

.checkout-info h4 {
  color: #333;
}

.price {
  color: blue;
}



// Tooltip
.tooltip_templates {
  display: none;
}

.tooltip_templates h2, h3, h4, h5{
  padding: 15px 0px;
  color: #fff;
  letter-spacing: normal;
  text-align: center;
}

.tooltip_templates p {
  text-align: center;
}
