<!DOCTYPE html>
<html>
  <head>
    <title>MesutOezilRestaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).on('turbolinks:load',function() {
          $('.tooltipster').tooltipster();
      });
    </script>

  </head>

  <body>
      <div class="content">
        <%= yield %>
      </div>

  </body>
</html>
